@use 'mixins/mixins' as *;
@use 'common/var' as *;

$color-list: (
  primary: $color-primary,
  success: $color-success,
  warning: $color-warning,
  danger: $color-danger,
  info: $color-info,
);
$color-active-list: (
  primary: $color-primary,
  success: $color-success,
  warning: $color-warning,
  danger: $color-danger,
  info: $color-info,
);

@include b(button) {
  //BEM规范
  display: inline-flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  border: #fafafa;
  user-select: none; // 不能选择文字
  min-height: 40px;
  line-height: 1;
  vertical-align: middle;
  padding: 0 20px;

  &:active {
    @include status($color-active-list);
  }

  @include status($color-list);

  @include m(medium) {
    padding: 0 20px;
  }

  @include m(small) {
    padding: 0 18px;
  }

  @include m(large) {
    padding: 0 25px;
  }

  @include when(disabled) {
    // 针对不同类型处理
    &,
    &:hover,
    &:focus {
      cursor: not-allowed;
    }
  }

  @include when(round) {
    border-radius: 20px;
  }

  // @include m(primary) {
  //   @include button-variant($color-white, $color-primary, $color-primary);
  // }
  // @include m(success) {
  //   @include button-variant($color-white, $color-success, $color-success);
  // }
  // @include m(warning) {
  //   @include button-variant($color-white, $color-warning, $color-warning);
  // }
  // @include m(danger) {
  //   @include button-variant($color-white, $color-danger, $color-danger);
  // }
  // @include m(info) {
  //   @include button-variant($color-white, $color-info, $color-info);
  // }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360);
  }
}
