@use 'common/var' as *;
@use 'mixins/mixins.scss' as *;

$message-color-list: (
  info: $color-info,
  success: $color-success,
  warning: $color-warning,
  danger: $color-danger,
);

@mixin status($color) {
  @each $key, $value in $color {
    @include m($key) {
      background: $value;
    }
  }
}

@include b(message) {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 400px;
  border-radius: 5px;
  line-height: 40px;
  height: 40px;
  background: red;
  color: #fff;

  @include status($message-color-list);
  @include when(center) {
    text-align: center;
  }
}
