@use 'config' as *;
@forward 'config';

// .z-button {}
@mixin b($block) {
  $blockName: $namespace + '-' + $block !global;
  .#{$blockName} {
    @content;
  }
}
// .z-button.is-desiabled
@mixin when($state) {
  @at-root {
    &.#{$state-prefix + $state} {
      @content;
    }
  }
}
// &--primary => .z-button--primary
@mixin m($modifier) {
  @at-root {
    #{& + $modifier-separator + $modifier} {
      @content;
    }
  }
}
// &__header  => .z-button__header
@mixin e($element) {
  @at-root {
    #{& + $element-separator + $element} {
      @content;
    }
  }
}

@mixin button-variant($color, $background-color, $border-color) {
  color: $color;
  background: $background-color;
  border-color: $border-color;
}


$color-white: #fff;
// 循环语法 each
@mixin status($color) {
  @each $key, $value in $color {
    @include m($key) {
      @include button-variant($color-white, $value, $value);
    }
  }
}
